{% extends 'admin/change_form.html' %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main/styles.min.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base/code.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.26.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.js"></script>
    <script src="{% static 'main/js/lib/jquery/jquery-2.1.1.min.js' %} "></script>
    <script src="{% static 'main/js/lib/ckeditor/ckeditor.js' %} "></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
{#        Because Lazy#}
        AWS.config.update({accessKeyId: '{{ AWS_ACCESS_KEY_ID }}', secretAccessKey: '{{AWS_SECRET_ACCESS_KEY}}'});
        AWS.config.region = 'us-east-1';
        uploadPath = window.location.pathname.replace('admin', 'images').slice(1);

        function SaveDialog() {
            var dlg = $('#saved-msg');
            return {
                showWorking: function() { dlg.show().text("Saving..") },
                showSucessAndHide: function() {
                    dlg.text('Saved');
                    setTimeout(function() { dlg.fadeOut() }, 1500);
                }
            }
        }

        var ApiPaths = (function() {
            var root = window.location.href.replace(window.location.pathname, '') + '/api/';
            function articles() {
                return root + 'articles'
            }
            function currentArticle() {
                return this.articles() + '/' + $('[data-object-id]').attr('data-object-id');
            }
            return {
                articles: articles,
                currentArticle: currentArticle
            }
        })();

        function clientHeight(iframe, tag) {
            return iframe.getElementsByTagName(tag)[0].clientHeight
        }

        function editAreaSmallerThanWindow(iframe) {
            return clientHeight(iframe, 'html') > clientHeight(iframe, 'body');
        }

        function padEditArea(ckeditor) {
            var padding = Array(40).join('<p>&nbsp;</p>');
            ckeditor.setData(ckeditor.getData() + padding)
        }

        function upload(file) {
            var bucket = new AWS.S3({params: {Bucket: 'awsblogstore'}});
            console.log("Uploading file: " + uploadPath + file.name);
            var params = {Key: uploadPath + file.name, ContentType: file.type, Body: file, ACL: "public-read"};
            return new Promise(function(resolve, reject) {
                bucket.upload(params, function (err, data) {
                    if (!err) resolve(data);
                    else reject(err);
                });
            });
        }

        function insertImage(s3Object) {
            var editor = CKEDITOR.instances.id_working_copy;
            var elem = editor.document.createElement('img', {
                attributes: {
                    src: s3Object.Location
                }
            });
            console.log("Adding image to document");
            editor.insertElement(elem);
        }

        function doNothing(e) {console.log("Nothing!") }
        function orPopError(err) { alert(err) }

        function dropHandler(e) {
            e.preventDefault();
            var file = e.dataTransfer.files[0];
            console.log("received file from drop: " + file);
            upload(file).then(insertImage, orPopError);
        };

        function saveArticle(ckeditor) {
            return new Promise(function(resolve, reject) {
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    },
                    xhrFields: {withCredentials: true},
                    type: 'PATCH',
                    url: ApiPaths.currentArticle(),
                    data: {
                        'working_copy': ckeditor.getData()
                    },
                    success: resolve,
                    error: reject
                });
            });
        }

        function hasCookie(name) {
            return function(cookie) { return cookie.indexOf(name) > -1 }
        }
        function cookieValue(str) { return str.split('=')[1].trim() }

        function getCookie(name) {
            return document.cookie.split(';').filter(hasCookie(name)).map(cookieValue);
        };

        function slugify(text) {
            return text.replace(/\W+/g, '-').toLowerCase();
        }

        function injectCKEditor() {
            $('[for=id_working_copy]').hide();
            CKEDITOR.replace('id_working_copy');
        }

        function insertPublishButton() {
            $('.submit-row').prepend('<input type="button" value="Publish!" id="publish-button">');
        }

        $(document).ready(function() {
            injectCKEditor();
            insertPublishButton();

            CKEDITOR.on('instanceReady', function() {
                var saveDialog = SaveDialog();
                var ckeditor = CKEDITOR.instances.id_working_copy;

                var iframeBase = document.querySelector('iframe').contentDocument.querySelector('html');
                var iframeBody = iframeBase.querySelector('body');

                var $body =

                iframeBody.ondragover = doNothing;
                iframeBody.ondrop = dropHandler;

                paddingToCenterBody = ((iframeBase.offsetWidth - iframeBody.offsetWidth) / 2) + 'px';
                $(iframeBase).css({
                    'height': '100%',
                    'width': '100%',
                    'overflow': 'hidden'
                }).find('body').css({
                    'height': '100%',
                    'margin': '0',
                    'padding-left': paddingToCenterBody,
                    'padding-right': paddingToCenterBody
                });

                ckeditor.on('change', _.debounce(function() {
                    saveDialog.showWorking();
                    saveArticle(ckeditor).then(saveDialog.showSucessAndHide, orPopError);
                }, 1000));
            });
        })

    </script>

<style>
    #id_related, #id_tags {
        width: 300px;
        min-height: 100px;
    }
</style>


{% endblock %}

{% block content %}
    {{ block.super }}
    <p id="saved-msg" class="alert alert-success" style="
          width: 80px;
          position: fixed;
          right: 0px;
          margin-right: 30px;
          display: none;
          top: 0;
          z-index: 9999;
    "></p>
    <div data-object-id="{{ object_id }}"></div>
{% endblock %}

