
@media (max-width: 800px) {
  .blog-container {
    width: 100%;
  }

  #header {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .primary {
    width: 100%;
    float: none;
  }

  .section {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    width: 98%;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    margin: 0 auto;
  }

}


@media (max-width: 1030px) {
  .blog-container {
    width: 100%;
  }

  img {
    max-size: 100% !important;
  }

//  #header {
//    display: none;
//  }
//
//  .sidebar {
//    display: none;
//  }
//
//  .primary {
//    width: 100%;
//  }
//
  .section {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    width: 98%;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    margin: 0 auto;
  }

}

