{:last-updated "June 23, 2020"
 :patrons [{:group "Corporate Sponsors"
            :names []}
           {:group "Sponsors"
            :names ["Qteal"]}
           {:group "Individuals"
            :names ["Nicholas", "Joseph Rhodes"]}]}