{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}

{% block style_sheet %}
    <link rel="stylesheet" href="{% static 'main/css/main/article.min.css' %}">
{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href="{% static 'main/css/lib/highlight/darkula.min.css' %}">
{% endblock %}

{% block primary_content %}

    <div class="section">
        <div class="most-recent">
            <h2>{{ article.title }}</h2>
            <h3>{{ article.sub_title }}</h3>
            <img src="{{ article.title_image }}" >
            <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
            <article>
                {{ article.body|safe }}
            </article>
        </div>
        {% if related_posts %}
            <div class="related">
                <h4>Related Posts</h4>
                <ul>
                    {% for related in related_posts %}
                        <li><a href="{% url 'view_article' slug=related.slug %}">{{ related.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="section section-last">
        {% include 'main/comment_section.html' %}
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="{% static 'main/js/lib/jquery/jquery-2.1.1.min.js' %}" ></script>
    <script src="{% static 'main/js/snake.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
