{% extends 'main/base.html' %}

{% block title %}{{ block.super }} - backlog {% endblock %}

{% block primary_content %}

    <div class="section">
        <h2>Backlog</h2>
        {% for prev_article in articles %}
            <div class="most-recent">
                <div>
                    <h3>{{ prev_article.title }}</h3>
                    <div class="image-cropper">
                        <img src="{{ prev_article.title_image }}" >
                    </div>
                    {{ prev_article.body|safe|truncatechars_html:370 }}
                </div>
                <a href="{% url 'view_article' slug=prev_article.slug %}">Read more >></a>
            </div>
            <hr>
        {% endfor %}
    </div>

    <div class="section section-last">
        {% if articles.has_next %}
            <a href="{% url 'backlog-paginator' page=next_page%}" style="float: left;" class="page-ctrl">Prev</a>
        {% endif %}

        {% if articles.has_previous %}
            <a href="{% url 'backlog-paginator' page=prev_page%}" style="float: right;" class="page-ctrl">Next</a>
        {% endif %}
    </div>

{% endblock %}
