{% extends 'main/base.html' %}

{% block primary_content %}

    <div class="section">
        <h2>Most Recent</h2>
        <div class="most-recent">
            <div>
                <h3>{{ most_recent.0.title }}</h3>
                <img src="{{ most_recent.0.title_image }}" alt="Title Image for article: {{ most_recent.0.title }}">
                {{ most_recent.0.body|safe|truncatechars_html:370 }}
            </div>
                    <div style="float: right;">
                        <p>9h ago</p>
                        <p> {{most_recent.0.comments.all.count}} </p>
                    </div>
            <a href="article/{{ most_recent.0.slug }}">Read more >></a>
        </div>
    </div>

    <div class="section most-popular">
        <h2>Most Popular</h2>
            <div class="pop-section">
                {% for article in most_popular %}
                    <div class="pop-prev">
                        <img src="{{ article.thumbnail }}" width="210" height="118" alt="Thumbnail for article: {{ article.title }}">
                        <h4>{{ article.title }}</h4>
                        <div class="sub-title">
                            <h5>{{ article.sub_title }}</h5>
                        </div>
                        <a href="article/{{ article.slug }}">Read >></a>
                    </div>
                {% endfor %}
            </div>


    </div>

    <div class="section">
        <h2>Backlog</h2>
        {% for prev_article in most_recent|slice:"1:" %}
            <div class="most-recent">
                <div>
                    <h3>{{ prev_article.title }}</h3>
                    <div class="image-cropper">
                        <img src="{{ prev_article.title_image }}" alt="Title Image for article: {{ prev_article.title }}">
                    </div>
                    {{ prev_article.body|safe|truncatechars_html:370 }}
                </div>
                <a href="{% url 'view_article' slug=prev_article.slug %}">Read more >></a>
            </div>

            <hr>
        {% endfor %}
    </div>

    <div class="section section-last">
        <a href="{% url 'backlog-paginator' page=1 %}" style="float: left;" class="page-ctrl">Prev</a>
    </div>

{% endblock %}
