{% load staticfiles %}

<div class="sidebar">
    <header>
        <div class="icon">
            <a href="{% url 'home' %}"><img src="{% static 'main/images/circle_avatar.png' %}"></a>
        </div>

        <nav>
            <ul class="list-unstyled">
                <li><a href="/article/about">About</a></li>
                <li><a href="https://github.com/chriskiehl">Projects</a></li>
                <li><a href="#">Contact</a></li>
                <li><a target="_blank" href="https://twitter.com/thechriskiehl">Twitter</a></li>
                <li><a href="#">RSS Feed</a></li>
            </ul>
            <ul class="list-unstyled">
                <li><input type="text" placeholder="search"></li>
            </ul>
            <ul class="list-unstyled">
                <li><a href="#">Then a tasteful ad</a></li>
            </ul>
        </nav>

    </header>

</div>
