<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function () {
            if (!XMLHttpRequest.prototype.sendAsBinary) {
                XMLHttpRequest.prototype.sendAsBinary = function (datastr) {
                    function byteValue(x) {
                        return x.charCodeAt(0) & 0xff;
                    }

                    var ords = Array.prototype.map.call(datastr, byteValue);
                    var ui8a = new Uint8Array(ords);
                    this.send(ui8a.buffer);
                }
            }

            function FileUpload(img, file) {
                var reader = new FileReader();
                this.ctrl = createThrobber(img);
                var xhr = new XMLHttpRequest();
                this.xhr = xhr;

                var self = this;
                this.xhr.upload.addEventListener("progress", function (e) {
                    if (e.lengthComputable) {
                        var percentage = Math.round((e.loaded * 100) / e.total);
                        self.ctrl.update(percentage);
                    }
                }, false);

                xhr.upload.addEventListener("load", function (e) {
                    self.ctrl.update(100);
                    var canvas = self.ctrl.ctx.canvas;
                    canvas.parentNode.removeChild(canvas);
                }, false);
                xhr.open("POST", "https://teststore1234.s3.amazonaws.com/foobarzs.gif?Signature=6FwChcwmxhXRYQaZS%2FhgoXXvPmk%3D&Expires=1416185723&AWSAccessKeyId=AKIAIHMPWPDK7JNWKYOA");
                xhr.overrideMimeType('image/gif');
                reader.onload = function (evt) {
                    xhr.sendAsBinary(evt.target.result);
                };
                reader.readAsBinaryString(file);
            }

            $('[type=submit]').click(function (event) {
                event.preventDefault();

                var reader = new FileReader();
                reader.onloadend = function(evt) {
                    $.ajax({
                        url: "https://teststore1234.s3.amazonaws.com/foobarzs.gif?Signature=%2FDKgxEhhtn%2BkAtMkVBToqzro4r4%3D&Expires=1416187257&AWSAccessKeyId=AKIAIHMPWPDK7JNWKYOA",
                        type: 'PUT',
                        data: evt.target.result,
                        success: function() { console.log('Uploaded data successfully.'); }
                    });
                };
                reader.readAsBinaryString(document.getElementById('id_contents').files[0]);
            });
        });


    </script>
</head>
<body>
<h1>Upload it!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}

    {{ form }}

    <input type="submit" value="Submit"/>
</form>
</body>
</html>
