/*body {*/
/*background: white;*/
/*font-size: 100%;*/
/*}*/

body {
    overflow-y: scroll;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#header {
    height: 50px;
}

#menu {
    width: 100%;
    text-align: right;
    padding-left: 24%;
}

#menu li {
    /*border-bottom: 1px solid #a6c6fc;*/
    width: 65%;
}

#menu input {
    /*border-bottom: 1px solid #a6c6fc;*/
    width: 100%;
}

.comment-box {
    border-left: 1px solid saddlebrown;
    margin-left: 15px;
}

.root-comment {
    margin-left: 0;
    border: 1px solid blue;
}

.comments-header:after {
    content: "";
    display: block;
    clear: both;
}

.share {
    float: right;
}

.share img {
    display: block;
    float: right;
    margin-left: 10px;
}

.root-comment > .comment-box:nth-of-type(1) {
    margin-left: 0;
}

.blog-container {
    width: 62.5%;
    height: 100%;
    margin: 0 auto;
}

.blog-container:after {
    content: "";
    display: block;
    clear: both;
}

.sidebar {
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    /*border: 1px solid #e7f1ff;*/
}

.sidebar-content {
    /*margin-top: 60px;*/
    /*border-right: 1px solid blue;*/
}

.sidebar-content img {
    display: block;
    margin: 0 auto;
    width: 45%;
    margin-bottom: 30px;
}

.primary {
    width: 80%;
    float: left;
}

.section {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;
    width: 80%;
    border: 1px solid #e6e6e6;
    border-bottom: none;
}

.section-last {
    border: 1px solid #e6e6e6;
    margin-bottom: 80px;
}

.most-recent {
    /*box-sizing: border-box;*/
    width: 100%;
    margin-top: 30px;
    /*padding: 20px;*/
    /*border: 1px solid #e6e6e6;*/
}

.most-recent img {
    max-width: 100%;
}

.pop-section:after {
    content: "";
    display: block;
    clear: both;
}

.pop-prev {
    margin: 0;
    margin-left: 4.3%;
    padding: 0;
    width: 30%;
    float: left;

}

.pop-prev h4 {
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pop-prev h5 {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pop-prev:first-child {
    margin-left: 0;
}

.pop-prev img {
    max-width: 100%;
    /*height: 119px;*/
}




